td   /* Each call or square */
{
    border: 2px solid  #333;  /* black 2px wide border */
    height: 100px; /* height 100 px */
    width: 100px;  /* width 100 px */
    text-align: center;   /* When displaying text, it displays in center*/
    vertical-align: middle;   /* not sure what this does  */
    font-family: "Comic Sans MS", cursive;   /* X or O displays in this font in cursive version*/
    font-size: 70px;   /* size of font */
    cursor: pointer;   /* makes it look like you can click on a cell*/

}

table   /* the entire tic tac toe board */ 
{
    border-collapse: collapse;    /* Single line borders */ 
    position: absolute;    /* makes the position relative to ancestor */ 
    
    /* The following lines are to center the tictactoe board */ 
    left: 50%;
    margin-left: -155px;
    top: 50px;
}

table tr:first-child td  /* The entire first row */
{
    border-top: 0;
}

table tr:last-child td   /* last row */
{
    border-bottom: 0;
}
table tr td:first-child   /* first colu,n  */
{
    border-left: 0;
}

table tr td:last-child    /*  last column */
{
    border-right: 0;
}

/* end game display */
.endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205,133,63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
  }